:root{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

#container{
    display: flex;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}
p{
    white-space: pre-line;
}

/* LISTA */
#lista{
    background-color: #ddd;
    width: 40rem;
}
ul{
    width: 40rem;
    height: 100vh;
    padding: 0.5rem;
    list-style-type: none;
    overflow-y: auto;
}
li{
    border: 1px solid black;
    margin-bottom: 0.2rem; 
}
li p{
    font-size: 3rem;
    padding: 1rem;
}
li p:hover{
    cursor: pointer;
    background-color: #fff;
}

/* TABLICA MAGII */
#tablicaMagii{
    width: 90rem;
    /* margin-right: auto;
    margin-left: auto; */
    margin-top: 2rem;
}
#opisUm{
    width: 40rem;
    height: 50vh;
    position: absolute;
    left: 0;
    top: 50vh;
    background-image: url(img/opis_test.png);
    padding: 5.7rem;
    padding-top: 7rem;
    display: none;
    color: #422E16;
}
#opisUm h1{
    font-size: 4rem;
}
#opisUm p{
    font-size: 2rem;
    max-height: 20vh;
    overflow: auto;
}
#opisWyl{
    margin-top: 1rem;
    cursor: pointer;
}

/* OTWIERANIE LISTY */
#otwieranieListy{
    /* width: 20rem; */
    position: relative;
    margin-bottom: 0;
    font-size: 3rem;
    padding: 1rem;
    border: 1px solid #000;
    /* border-right: 1px solid #000; */
    display: none;
}
#otwieranieListy:hover{
    cursor: pointer;
    background-color: #ccc;
}

/* LEWA STRONA */
#lewastrona,#prawastrona{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 2rem;
    max-width: 40rem;
}















/* PRAWA STRONA */